.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.modal__label {
  margin-top: 12px;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
}

.modal__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal__title {
  margin: 0;
  width: 95;
  height: 20;
  top: 221px;
  left: 500px;
  opacity: 1;
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #000000;
}

.modal__close {
  position: absolute;
  right: 28px;
  top: 28px;
  background: none;
  border: none;
  color: #0000004d;
  width: 14px;
  height: 14px;
  cursor: pointer;
}

.modal__content {
  position: relative;
  background: white;
  border-radius: 10px;
  padding: 20px;
  z-index: 20;
  max-width: 400px;
  width: 100%;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  display: block;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #000;
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  opacity: 1;
  margin: 0 0 24px 24px;
  margin-top: 28px;
}

.modal__submit {
  background-color: #0000004d;
  border-radius: 4px;
  color: white;
  max-width: 124px;
  height: 36px;
  border: none;
  cursor: pointer;
  margin-top: 20px;
}

.modal__image {
  width: 100%;
  height: 400px;
  object-fit: cover;
  display: block;
}

.modal__legend {
  margin-top: 23px;
  font-style: bold;
}
