.modal__label {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  margin-top: 16px;
}

.modal__input {
  margin-top: 6px;
  padding: 10px 0;
  border: none;
  border-bottom: 1px solid #000;
  font-size: 14px;
  outline: none;
}

.modal__input:focus {
  border-bottom-color: #000;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  margin: 24px 0 0 0;
}

.modal__legend {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
}

.modal__radio-option {
  display: flex !important;
  align-items: center !important;
  gap: 10px !important;
  margin: 4px 0 !important;
}

.modal__radio-input {
  margin: 0 !important;
  transform: scale(1.1);
}

.modal__radio-label {
  display: inline-block !important;
  font-weight: 400;
  font-size: 14px;
  color: #000;
  width: auto !important;
}

.add-item-modal__radio-group {
  border: none;
  padding: 0;
  margin-top: 24px;
}

.add-item-modal__legend {
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  color: #000;
}

.add-item-modal__radio-option {
  display: flex !important;
  flex-direction: row !important;
  align-items: center !important;
  justify-content: flex-start !important;
  gap: 8px !important;

  font-size: 14px;
  font-weight: 400;
  color: #000;

  margin: 4px 0 !important;
  width: auto !important;
  text-align: left !important;
}

.add-item-modal__radio-input {
  margin: 0 !important;
  transform: scale(1.1);
}
