.header {
    display: flex;
    align-items: center;
    padding: 32px 0 28px;
}

.header__logo {
    margin-right: 24px;
}

.header__date-and-location {
    margin-right: auto;
}

.header__add-clothes-btn {
    margin: 0 20px 0 0;
    border: none;
    background: none;
    cursor: pointer;
}

.header__user-container {
    display: flex;
    align-items: center;
    gap: 12px;
}

