.modal__caption {
  font-family: Cabinet Grotesk;
  font-weight: 700;
  font-style: Bold;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0%;
}

.modal__content_type_image {
  width: auto;
  height: auto;
  top: 106px;
  left: 471px;
  opacity: 1;
  border-radius: 16px;
}
