.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: auto;
}

.modal__content {
  background: white;
  border-radius: 16px;
  padding: 20px;
  position: relative;
  max-width: 400px;
  width: 100%;
  z-index: 2000;
}

.modal__image {
  width: 100%;
  border-radius: 10px;
}

.modal__close {
  position: absolute;
  top: 10px;
  right: 15px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.modal__caption {
  font-family: "Cabinet Grotesk";
  font-weight: 700;
  font-size: 20px;
  margin-top: 12px;
}

.modal__weather {
  margin-top: 6px;
  font-size: 14px;
}

.modal__delete-button {
  background: none;
  border: none;
  color: #ff4d00;
  font-size: 14px;
  cursor: pointer;
  margin-top: 10px;
}