.sidebar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  object-fit: cover;
}

.sidebar__edit-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 20px;
  font-weight: 700;
}

.sidebar__signout-button {
  background: none;
  border: none;
  cursor: pointer;
  margin-top: 8px;
  font-weight: 700;
}

.sidebar__username {
  display: flex;
}

.sidebar__top {
  display: flex;
  align-items: center;
  gap: 12px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-weight: 700;
}
